.uw-uploader,
.uw-details-form,
.uw-wait-for-save,
.uw-usage {
	overflow: auto;
}

.uw-selected {
	background: #eee;
	box-shadow: inset 0 0 10px #ccc;
}

.uw-uploader {
	width: 750px;
}

.uw-details-form-upload {
	width: 140px;
	float: left;
}

.uw-details-form-upload img {
	max-width: 140px;
	max-height: 140px;
	box-shadow: 0 0 2px #333;
}

.uw-details-form-metadata {
	width: 290px;
	margin-left: 20px;
	float: left;
}

.uw-details-form-license {
	width: 280px;
	margin-left: 20px;
	float: left;
	line-height: 2em;
}

.license_name_input {
	display: inline-block;
	width: 250px;
	margin-left: 3px;
}

.license_name_license {
	display: inline-block;
	width: 260px;
	margin-left: 3px;
}

.uw-wait-for-save img,
.uw-usage img {
	float: left;
	width: 140px;
	box-shadow: 0 0 2px #333;
}

.uw-wait-for-save > div,
.uw-usage > div {
	float: left;
	width: 500px;
	margin-left: 20px;
}


/* compact-form, for later, y'know */
.compact-form .oo-ui-fieldLayout-body > .oo-ui-labelElement-label {
	transition: all 1s ease;
	opacity: 0;
	font-size: 0;
}

.compact-form .oo-ui-dropdownWidget-handle,
.compact-form .oo-ui-dropdownWidget-handle .oo-ui-labelElement-label,
.compact-form input[type="text"],
.compact-form textarea {
	transition: 1s all ease;
	background: transparent;
	padding-left: 0;
	margin-left: 0;
	border-top: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-right: 1px solid transparent !important;
	border-bottom: 1px solid #eee;
}
