.bulkform {
	height: 100%;
	padding: 20px;
	background: #ddd;
	border-left: 1px solid #eee;
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
}


.uw-thumbs img {
	max-width: 40px;
	max-height: 40px;
	float: left;
	margin: 5px;
}